@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
:root{
    --color-primary: #333333;
    --color-secondary: #292929;
    --color-tertiary: green;
}
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--color-primary);
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5{
    font-weight: 500;
}
h1{
    text-align: center;
    padding: 1rem;
}
.list{
    background-color: var(--color-secondary);
    border-radius: 5px;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    padding: 1rem;
}
.list li{
    list-style: none;
}
.item{
    display: block;
    padding: 1rem;
    background-color: var(--color-primary);
    margin: .7rem 0;
    border-radius: 5px;
}
.item p{
    display: inline-block;
}
.item p:not(:first-child){
    text-align: right;
}
.checkInput, .itemContent, .del, .checkDone, .plusBtn{
    vertical-align: middle;
}
.checkInput, .itemDelete, .plusDiv, .checkDiv{
    cursor: pointer;
}
.itemContent{
    width: 80%;
    text-align: justify;
    padding: 1rem;
}
.checkDone{
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    cursor: pointer;
}

li.item input[type=checkbox]:checked{
    background: var(--color-tertiary);
}
.itemDelete{
    background-color: transparent;
    width: 2.2rem;
    height: 2.2rem;
}
.del{
    width: 2rem;
    height: 2rem;
    fill: #e24a4a;
    margin: 0 .2rem;
    pointer-events: none;
}
/* Plus button*/
.plusDiv, .checkDiv{
    width: 4rem;
    height: 4rem;
    display: inline-block;
    background-color: var(--color-primary);
    border-radius: 5px;
    box-shadow: -1px 2px 7px rgba(0,0,0, .5);
    text-align: center;
    line-height: 2.8;
    border: none;
}
.replaceDiv{
    width: 100%;
    height: 100%;
}
.checkDiv:focus, .checkDiv:active{
    outline: none;
}
/*
.checkDone:checked{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
*/
.checkDiv{
    margin: 0 1rem;
}
.checkDiv{
    width: 10%;
}
.plusBtn, .saveBtn{
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}
.plusBtn{
    fill: #000000;
}
.checkBtn{
    fill: #f76b2a;
}
.toDoField{
    width: 85%;
    padding: 1rem;
}
.toDoField:focus{
    outline: 1px solid var(--color-primary);
}

@media only screen and (max-width: 37.5em){
    .toDoField{
        width: 75%;
    }
    .checkDiv{
        width: 15%;
    }
    .list{
        width: 80%;
    }
    .itemContent{
        width: 70%;
    }
}