@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #333333;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5{
    font-weight: 500;
}
h1{
    text-align: center;
    padding: 1rem;
}
.container{
    padding: 1rem;
}
main, .container{
    width: 100%;
    height: 100%;
}
.list, .btnsList{
    width: 60%;
    height: 80%;
    margin: .5rem auto;
    border-radius: 5px;
    padding: 1rem;
}
.list{
    background-color: #292929;
}
.list li{
    list-style: none;
}
.btnsList{
    text-align: right;
}
.item{
    display: block;
    padding: 1rem;
    background-color: #333333;
    margin: .7rem 0;
    border-radius: 5px;
}
.item p{
    display: inline-block;
}
.checkInput, .itemContent, .del, .plusSvg{
    vertical-align: middle;
}
.checkInput,
.itemDelete,
.plusBtn,
.checkBtn,
.reset,
.pick{
    cursor: pointer;
}
.itemContent{
    width: 90%;
    text-align: justify;
    padding: 1rem;
    overflow-wrap: break-word;
}
.itemDelete{
    background-color: transparent;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 1rem;
}
.del{
    width: 2rem;
    height: 2rem;
    fill: #e24a4a;
    margin: 0 .2rem;
    pointer-events: none;
}
.plusBtn, .checkBtn, .reset, .pick{
    display: inline-block;
    background-color: #333333;
    border-radius: 5px;
    box-shadow: -1px 2px 7px rgba(0,0,0, .5);
    text-align: center;
    border: none;
}
.reset, .pick{
    color: #ffffff;
    padding: 1rem;
    margin: 0 .5rem;
    transform: translateY(0);
    transition: all .1s ease-in-out;
}
.plusBtn, .checkBtn{
    width: 4rem;
    height: 4rem;
    line-height: 2.8;
}
.replaceDiv{
    width: 100%;
    height: 100%;
}
.plusBtn:focus,
.plusBtn:active,
.checkBtn:focus,
.checkBtn:active,
.reset:focus,
.pick:focus,
.reset:active,
.pick:active{
    outline: none;
}
.checkBtn{
    margin: 0 1rem;
    width: 10%;
}
.plusSvg, .saveSvg{
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}
.toDoField{
    width: 85%;
    padding: 1rem;
}
.toDoField:focus{
    outline: 1px solid #333333;
}
.pick:active, .reset:active{
    transform: translateY(3px);
}
@media only screen and (max-width: 37.5em){
    .toDoField{
        width: 75%;
    }
    .checkBtn{
        width: 15%;
    }
    .list, .btnsList{
        width: 80%;
    }
    .itemContent{
        width: 84%;
    }
}