*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--color-primary: #141E46;
	--color-secondary: #BB2525;
	--color-tertiary: #FF6969;
	--color-quaternary: #FFF5E0;
}
html{
	font-size: 62.5%;
}
body{
	background-color: var(--color-quaternary);
	font-size: 1.4rem;
	font-family: 'Comfortaa', cursive;
}
header{
	padding: 2rem;
	background-color: var(--color-tertiary);
	color: var(--color-primary);
}
header h1{
	font-family: 'Tilt Prism', cursive;
	font-size: 5rem;
}
footer{
	padding: 2rem;
}